/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
/* nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
} */

html, body {
    /* height: 100%; */
    /* min-height: 100%; */
    /* background: linear-gradient(141deg, #e9ff70 0%, #ffd670 51%, #ff9770 75%); */
    /* background: linear-gradient(to bottom, #e9ff70, #cdfcb2); */
    /* background-size: 100%; */
	/* background-repeat: no-repeat; */

    background-repeat:no-repeat;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e9ff70), to(#cdfcb2)); 
    background-attachment:fixed;
  }

  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #CEE26B; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5CB270; 
  }

.font {
    font-family: 'Gamja Flower', cursive;
    font-size: large;
}

/* Buttons */

.btn.outline {
	background: none;
	padding: 12px 22px;
}
.btn-primary.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}

/* Button values */

.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

/* Workout list design */

h1,h2,h3{
text-align: center;
/* font-family: 'Baloo Tamma', cursive; */
}

li{
color: #e9ff70;
font-size: 18px;
line-height: 30px;
text-align: justify;
letter-spacing: 1px;
/* font-family: 'Raleway', serif; */
}

/*SG = style grid*/
.SG{
margin: 0;
padding: 0;
text-align: center;
}
.SG .sgLi{
min-width: 24%;
margin: 2% .35%;
display: inline-flex;
box-shadow: 0 2px 4px rgba(0,0,0, .2);
}

.SG .sgLi:hover{
box-shadow:0 5px 10px rgba(0,0,0,.15);}

.SG .box{
width: 100%;
height: 100vh;
padding: 1% 2%;
background: #358283;
min-height: 200px;
max-height: 420px;
box-sizing: border-box;
}

.s2{list-style-type: circle;}

/* Quiz boxes */
.SG .osgLi{
min-width: 24%;
margin: 2% 15%;
display: block;
box-shadow: 0 2px 4px rgba(0,0,0, .2);
}

.SG .obox{
width: 100%;
height: 100vh;
padding: 1% 2%;
background: #358283;
min-height: 200px;
max-height: 220px;
box-sizing: border-box;
}

.SG .osgLi:hover{
box-shadow:0 5px 10px rgba(0,0,0,.15);}

iframe{
    width: 420px;
    height: 345px;
}

