{% extends "homepage.html" %}

{% block title %}
    Calendar
{% endblock %}

{% block main %}
<script>
    var dt = new Date();
    function renderDate() 
    {
        dt.setDate(1);
        var day = dt.getDay();
        var today = new Date();
        var endDate = new Date(dt.getFullYear(), dt.getMonth() + 1, 0).getDate();
        var prevDate = new Date(dt.getFullYear(), dt.getMonth(), 0).getDate();
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
        document.getElementById("date_str").innerHTML = months[dt.getMonth()];
        var cells = "";
        for (x = day; x > 0; x--) 
        {
            cells += "<div class='prev_date'>" + (prevDate - x + 1) + "</div>";
        }
        console.log(day);
        for (i = 1; i <= endDate; i++) 
        {
            if (i == today.getDate() && dt.getMonth() == today.getMonth()) 
                cells += "<div class='today'>" + i + "</div>";
            else
                cells += "<div>" + i + "</div>";
        }
        document.getElementsByClassName("days")[0].innerHTML = cells;
    }
    function moveDate(para) 
    {
        if(para == "prev") 
        {
            dt.setMonth(dt.getMonth() - 1);
        } 
        else if(para == 'next')
        {
            dt.setMonth(dt.getMonth() + 1);
        }
        renderDate();
    }
    </script>
<form action = "/calendar" method = "post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="event" name="event" placeholder="Event" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="month" name="month" placeholder="Month" type="number">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="day" name="day" placeholder="Day" type="number">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="year" name="year" placeholder="Year" type="number">
    </div>
    <div class="mb-3">
        <button  class="btn btn-primary btn-sm outline" name="record" value= "Record" type="submit">Record</button>
    </div>
</form>
    <body onload="renderDate()">
        <div class="wrapper">
            <div class="calendar">
                <div class="month">
                    <div class="prev" onclick="moveDate('prev')">
                        <span>&#10094;</span>
                    </div>
                    <h2 id="month"></h2>
                    <p id="date_str"></p>
                    <p id="year"></p>
                    <div class="next" onclick="moveDate('next')">
                        <span>&#10095;</span>
                    </div>
                </div>
                <div class="weekdays">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
    
                </div>
                <div class="days">
                </div>
            </div>
        </div>
    </body>
    <main class="container py-5 text-center">
        <table class = "table tablestriped">
            <thead>
                <tr>
                    <th class="text-start">Events</th>
                    <th class="text-start">Day</th>
                </tr>
            </thead>
            <tbody>
                {% for events in user %}
                    {% if events['month'] == month and events['year'] == year %}
                    <tr>
                        <td class="text-start">{{events['event']}}</td>
                        <td class="text-start">{{events['day']}}</td>
                    </tr>
                    {% endif%}
                {% endfor%}
            </tbody>
        </table>
    </main>
{% endblock %}

<!-- Calendar by https://www.codewrites.com/2021/07/how-to-create-dynamic-calendar-in-html.html -->