{% extends "homepage.html" %}

{% block title %}
    Workout
{% endblock %}

{% block main %}

    {% if number == 1 %}
        <div class="backbox">
        <h1>You are doing workouts at home and weightloss</h1>

        <ul class = "SG">
            <li class = "sgLi">
                <div class = "box">
                <h3>Day 1</h3>
                <ul class = "s2">
                <li>Wide-stance squats — 15 reps</li>
                <li>Pushups — on knees if modifying — 10 to 15 reps</li>
                <li>Reverse lunge — 15 reps each side</li>
                <li>Bent-over rows — 12 to 15 reps</li>
                <li>Side lunge — 12 to 15 reps</li>
                <li>Plank — hold for 15 to 60 seconds</li>
                <li>Mountain climbers — 15 reps each side</li>
                <li>Assisted pullups or lat pulldowns with resistance band — 10 to 12 reps</li>
                <li>Squat thrusters — 12 to 15 reps</li>
                <li>Stiff-legged deadlift — 12 to 15 reps</li>
                <p class="mb-5 small text-center text-muted">Rest 60 seconds, then repeat the circuit two to three times</p>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 2</h3>
                <ul class = "s2">
                <li>You can do either running, cycling, swimming or rowing for 1 hour.</li>
                <p class="mb-5 small text-center text-muted">Try to give yourself breaks in between every 2-3 or so.</p>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 3</h3>
                <ul class = "s2">
                <li>You can do either running, cycling, swimming or rowing for 1 hour.</li>
                <p class="mb-5 small text-center text-muted">Try to give yourself breaks in between every 2-3 or so.</p>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 4</h3>
                <ul class = "s2">
                <li>Wide-stance squats — 15 reps</li>
                <li>Pushups — on knees if modifying — 10 to 15 reps</li>
                <li>Reverse lunge — 15 reps each side</li>
                <li>Bent-over rows — 12 to 15 reps</li>
                <li>Side lunge — 12 to 15 reps</li>
                <li>Plank — hold for 15 to 60 seconds</li>
                <li>Mountain climbers — 15 reps each side</li>
                <li>Assisted pullups or lat pulldowns with resistance band — 10 to 12 reps</li>
                <li>Squat thrusters — 12 to 15 reps</li>
                <li>Stiff-legged deadlift — 12 to 15 reps</li>
                <p class="mb-5 small text-center text-muted">Rest 60 seconds, then repeat the circuit two to three times</p>
                </ul>
                </div>
            </li>
        </ul>
        </div>

    {% elif number == 2 %}
        <div class="backbox">
        <h1>You are doing workouts at home and buildmuscle</h1>

        <ul class = "SG">
            <li class = "sgLi">
                <div class = "box">
                <h3>Day 1 (Chest)</h3>
                <ul class = "s2">
                <li>Push-up: 3–6 sets of 6–12 reps</li>
                <li>Burpee: 6 per minute for 15 minutes </li>
                <li>Pull-up: 3 sets of 2–5 reps</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 2 (Arms)</h3>
                <ul class = "s2">
                <li>Plank-up: 3 sets of 5–10 reps</li>
                <li>Triceps dip: 2 sets of 10–12 reps</li>
                <li>Inchworm: 3 sets of 4–6 reps</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 3 (Legs)</h3>
                <ul class = "s2">
                <li>Step-up: 3 sets of 15 reps (each side)</li>
                <li>Lunge: 3 sets of 15 reps (each side)</li>
                <li>Squat: 3–5 sets of 8–12 reps</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 1 (Chest and Arms)</h3>
                <ul class = "s2">
                <li>Push-up: 3–6 sets of 6–12 reps</li>
                <li>Burpee: 6 per minute for 15 minutes</li>
                <li>Pull-up: 3 sets of 2–5 reps</li>
                <li>Plank-up: 3 sets of 5–10 reps</li>
                <li>Triceps dip: 2 sets of 10–12 reps</li>
                <li>Inchworm: 3 sets of 4–6 reps</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 2 (Legs)</h3>
                <ul class = "s2">
                <li>Step-up: 3 sets of 15 reps (each side)</li>
                <li>Lunge: 3 sets of 15 reps (each side)</li>
                <li>Squat: 3–5 sets of 8–12 reps</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 3 (Cardio)</h3>
                <ul class = "s2">
                <li>You can do either running, cycling, swimming or rowing for 1 hour.</li>
                <p class="mb-5 small text-center text-muted">Try to give yourself breaks in between every 2-3 or so.</p>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 4 (Chest and Arms)</h3>
                <ul class = "s2">
                <li>Push-up: 3–6 sets of 6–12 reps</li>
                <li>Burpee: 6 per minute for 15 minutes</li>
                <li>Pull-up: 3 sets of 2–5 reps</li>
                <li>Plank-up: 3 sets of 5–10 reps</li>
                <li>Triceps dip: 2 sets of 10–12 reps</li>
                <li>Inchworm: 3 sets of 4–6 reps</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 5 (Legs)</h3>
                <ul class = "s2">
                <li>Step-up: 3 sets of 15 reps (each side)</li>
                <li>Lunge: 3 sets of 15 reps (each side)</li>
                <li>Squat: 3–5 sets of 8–12 reps</li>
                </ul>
                </div>
            </li>
        </ul>
        </div>

    {% elif number == 3 %}
        <div class="backbox">
        <h1>You are doing workouts at home and resistance</h1>

        <ul class = "SG">
            <li class = "sgLi">
                <div class = "box">
                <h3>Day 1 (Chest and Abs)</h3>
                <ul class = "s2">
                <li>4 Sets, 10 Reps of Banded pushups</li>
                <li>4 Sets, 10 Reps of Standing Resistance Band Chest Press – Anchor</li>
                <li>4 Sets, 10 Reps of Standing Resistance band Chest Fly – Anchor</li>
                <li>5 Sets, 20 Reps of Banded Leg Raises</li>
                <li>5 Sets, 20 Rep of Lying Bicycles – No equipment</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 2 (Biceps and Triceps)</h3>
                <ul class = "s2">
                <li>4 Sets, 10 reps of Standing Resistance Band Curls</li>
                <li>4 Sets, 10 Reps of Seated Resistance Band Preacher Curls – Anchor</li>
                <li>4 Sets, 10 Reps of Standing Resistance Band One Arm Curls – Anchored Low</li>
                <li>4 Sets, 15 Reps of Standing Resistance Band Tricep Kickdowns - Anchor High</li>
                <li>4 Sets, 15 Reps of Standing Resistance Band Tricep Hammer Kickdowns - Anchor High</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 3 (Legs and Abs)</h3>
                <ul class = "s2">
                <li>4 Sets, 10 Reps of Banded Squats</li>
                <li>4 Sets, 10 Reps of Lying Banded Leg Lifts – alternate legs)</li>
                <li>4 Sets, 10 Reps of Kneeling Banded Donkey Kicks – alternate legs</li>
                <li>8 Sets, 20 Reps of Seated Russian Twists – No Equipment</li>
                </ul>
                </div>
            </li>


            <li class = "sgLi">
                <div class = "box">
                <h3>Day 4 (shoulders)</h3>
                <ul class = "s2">
                <li>4 Sets, 10 Reps of Standing Resistance Band Presses</li>
                <li>4 Sets, 10 Reps of Standing Resistance Band Twists – Low Anchor, Alternate Arms</li>
                <li>4 Sets, 10 Reps of Standing Shoulder Presses – No Equipment</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 5 (Back and Abs)</h3>
                <ul class = "s2">
                <li>4 Sets, 10 Reps of Seated Resistance Rows – Overhand – Anchor</li>
                <li>4 Sets, 10 Reps of Seated Resistance Rows – Underhand – Anchor</li>
                <li>4 Sets, 10 Reps of Seated Resistance Rows – Close Hands – Anchor</li>
                <li>5 Sets, 20 Reps of Banded Leg Raises</li>
                <li>5 Sets, 20 Rep of Lying Bicycles – No equipment</li>
                </ul>
                </div>
            </li>
        </ul>
        </div>

    {% elif number == 4 %}
        <div class="backbox">
        <h1>You are doing workouts at the gym and weightloss</h1>

        <ul class = "SG">
            <li class = "sgLi">
                <div class = "box">
                <h3>Day 1</h3>
                <ul class = "s2">
                <li>Squat + Curl / 8-12 Reps</li>
                <li>Push Ups / 15 Reps</li>
                <li>DB Row + Fly / 8-12 Reps</li>
                <p class="mb-5 small text-center text-muted">(Repeat this cicuit 3 times)</p>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 2</h3>
                <ul class = "s2">
                <li>Bench Step-ups / 12 each side</li>
                <li>Lunge + Front Raise / 12 each side</li>
                <li>Renegade Rows / 12 each side</li>
                <p class="mb-5 small text-center text-muted">(Repeat this cicuit 3 times)</p>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 3</h3>
                <ul class = "s2">
                <li>Run on the treadmill 30 minutes (1 minute running, 30 seconds walking)</li>
                </ul>
                </div>
            </li>


            <li class = "sgLi">
                <div class = "box">
                <h3>Day 4</h3>
                <ul class = "s2">
                <li>Incline DB Press / 8-12 reps</li>
                <li>Bench Dips / 15 reps</li>
                <li>Plank Shoulder / 12 each side</li>
                <p class="mb-5 small text-center text-muted">(Repeat this cicuit 3 times)</p>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 5</h3>
                <ul class = "s2">
                <li>Run on the treadmill 30 minutes (1 minute running, 30 seconds walking)</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <form action="/home" method="post">
                    <h>You can log your weights here!</h>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" id="exercise" name="exercise" placeholder="Exercise Name" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" id="weight" name="weight" placeholder="Weight" type="number">
                    </div>
                    <div class="mb-3">
                        <button  class="btn btn-primary btn-sm outline" name="record" value= "Record" type="submit">Record</button>
                    </div>
                </form>
            </li>
        </ul>
        </div>

    {% elif number == 5 %}

        <li class = "sgLi">
            <form action="/home" method="post">
        <div class="backbox">
        <h1>You are doing workouts at the gym and buildmuscle</h1>

        <ul class = "SG">
            <li class = "sgLi">
                <div class = "box">
                <h3>Day 1 (Chest and Triceps)</h3>
                <ul class = "s2">
                <li>Flat Bench Press: 4 Sets (8–10 reps)</li>
                <li>Incline Dumbbell Press: 4 Sets (8–10 reps)</li>
                <li>Triceps Pushdown – V-Bar Attachment: 3 Sets (9–12 reps)</li>
                <li>Decline Dumbbell Flyes: 3 sets(8–12 reps)</li>
                <li>Skull Crushers: 3 Sets (9–12 reps)</li>
                <li>Decline Bench Press: 3 Sets (8–10 reps each)</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 2 (Biceps and Back)</h3>
                <ul class = "s2">
                <li>Seated Cable Rows: 2 sets (8–10 reps)</li>
                <li>Front Lat Pulldown: 2 sets (8–10 reps)</li>
                <li>Bent Over Barbell Rows: 2 sets (8–10 reps)</li>
                <li>Hammer Curls: 3 sets ( 8–12 reps)</li>
                <li>Deadlift: 2 sets (8–10 reps)</li>
                <li>Barbell Curl (EZ-bar): 3 sets (8–10 reps)</li>
                <li>Straight-Arm Pulldown: 2 sets (8–10 reps)</li>
                <li>Concentration Curls: 3 sets (8–12 reps)</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>DAY 3 (Core, Forearms, Calves and Cardio)</h3>
                <ul class = "s2">
                <li>Crunches: 3 sets of 10–12 reps</li>
                <li>Hanging Leg Raise: 3 sets of 10–12 reps</li>
                <li>Seated Russian Twist: 12–15 reps on each side</li>
                <li>Bicycle Crunches: 15–20 sets of maximum reps</li>
                <li>Planks: 3 sets maximum hold</li>
                <li>Palms-Up Barbell Wrist Curl: maximum reps for 3 sets. 
                    Begin with the bar, and add 2.5 or 5 lbs after each set.
                </li>
                <li>Seated Calf Raise: 3 sets 8–15 reps</li>
                <li>Palm Down Barbell Wrist Curls Over Bench: maximum reps for 3 sets. 
                    Begin with the bar, and add 2.5 or 5 lbs after each set.
                </li>
                <li>Smith Machine Calf Raise: 3 sets 8–15 reps</li>
                <li>25 mins of cardio before or after your workout</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>DAY 4 (Shoulders and Triceps)</h3>
                <ul class = "s2">
                <li>Seated Dumbbell Press: 4 sets (8–10 reps)</li>
                <li>Military Press: 4 sets (8–10 reps)</li>
                <li>Dips: 4 sets (8–10 reps)</li>
                <li>Side Lateral Raise: 4 sets (8–12 reps)</li>
                <li>Standing Dumbbell Triceps Extension: 4 sets (8–12 reps)</li>
                <li>Front Lateral Raise: 4 sets (8–12 reps)</li>
                <li>Triceps Pushdown — Rope Attachment: 4 sets (8–12 reps)</li>
                <li>Reverse Flyes: 4 sets (8–12 reps)</li>
                <li>Shrugs: 3 sets (8–10 reps)</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>DAY 5 (Legs and Biceps)</h3>
                <ul class = "s2">
                <li>Squats: 4 sets (6–8 reps)</li>
                <li>Wide-Grip Standing Barbell Curl: 4 sets (8–12 reps)</li>
                <li>Leg Press: 3 sets (8–10 reps)</li>
                <li>Spider Curl: 4 sets (8–10 reps)</li>
                <li>Smith Machine Calf Raise: 4 sets (8–12 reps)</li>
                <li>Lying Leg Curls: 3 sets (8–12 reps)</li>
                <li>Machine Bicep Curl: 3 sets (8–12 reps)</li>
                <li>Leg Extensions: 3 sets (8–12 reps). Skip if you have leg complications.</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <h>You can log your weights here!</h>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="exercise" name="exercise" placeholder="Exercise Name" type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="weight" name="weight" placeholder="Weight" type="number">
                </div>
                <div class="mb-3">
                    <button  class="btn btn-primary btn-sm outline" name="record" value= "Record" type="submit">Record</button>
                </div>
            </li>
            </form>
        </li>
        </ul>
        </div>



    {% elif number == 6 %}
        <li class = "sgLi">
            <form action="/home" method="post">
        <div class="backbox">
        <h1>You are doing workouts at the gym and resistance</h1>

        <ul class = "SG">
            <li class = "sgLi">
                <div class = "box">
                <h3>Day 1</h3>
                <ul class = "s2">
                <li>Kettlebell Goblet Squat - 3 Sets 10 Reps</li>
                <li>Back Squat - 5 Sets 5 Reps</li>
                <li>Bulgarian Spilt Squat - 2 Sets 8 Reps on each side</li>
                <li>Snatch-grip Deadlift - 3 Sets 10 Reps</li>
                <li>Kettlebell swing - 3 Sets 10 Reps</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 2</h3>
                <ul class = "s2">
                <li>Kettlebell Sumo Deadlift - 3 Sets 10 Reps</li>
                <li>Deadlift - 5 Sets 5 Reps</li>
                <li>Romanian Deadlift - 4 Sets Reps 6-8</li>
                <li>Incline Bench Press - 3 Sets 10 Reps</li>
                <li>Press-up - 3 Sets to failure</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 3</h3>
                <ul class = "s2">
                <li>Dumbbell Bench Press - 3 Sets 10 Reps</li>
                <li>Bench Press - 5 Sets 5 Reps</li>
                <li>Diamind Press-up - 3 Sets 8-10 Reps</li>
                <li>Front Squat - 3 Sets 10 Reps</li>
                <li>Dumbbell Jump Squat - 3 Sets 5 Reps</li>
                </ul>
                </div>
            </li>


            <li class = "sgLi">
                <div class = "box">
                <h3>Day 4</h3>
                <ul class = "s2">
                <li>Kettlebell Goblet Squat - 3 Sets 10 Reps</li>
                <li>Back Squat - 5 Sets 5 Reps</li>
                <li>Bulgarian Spilt Squat - 2 Sets 8 Reps on each side</li>
                <li>Snatch-grip Deadlift - 3 Sets 10 Reps</li>
                <li>Kettlebell swing - 3 Sets 10 Reps</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Day 5</h3>
                <ul class = "s2">
                <li>Kettlebell Sumo Deadlift - 3 Sets 10 Reps</li>
                <li>Deadlift - 5 Sets 5 Reps</li>
                <li>Romanian Deadlift - 4 Sets Reps 6-8</li>
                <li>Incline Bench Press - 3 Sets 10 Reps</li>
                <li>Press-up - 3 Sets to failure</li>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <h>You can log your weights here!</h>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="exercise" name="exercise" placeholder="Exercise Name" type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="weight" name="weight" placeholder="Weight" type="number">
                </div>
                <div class="mb-3">
                    <button  class="btn btn-primary btn-sm outline" name="record" value= "Record" type="submit">Record</button>
                </div>
            </li>
            </form>
        </li>
            

            <li class = "sgLi">
                <h>You can log your weights here!</h>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="exercise" name="exercise" placeholder="Exercise Name" type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="weight" name="weight" placeholder="Weight" type="number">
                </div>
                <div class="mb-3">
                    <button  class="btn btn-primary btn-sm outline" name="record" value= "Record" type="submit">Record</button>
                </div>
            </li>

        </ul>
        </div>

    {% else %}
        <p>You have not selected a style of workout. Take the quiz before and then come back</p>
    {% endif %}

{% endblock %}