{% extends "homepage.html" %}

{% block title %}
    Workout
{% endblock %}

{% block main %}

    {% if number == 1 %}
        <p>You are doing workouts at home and weightloss.</p>
        <h> DAY 1</h>
        <p>Wide-stance squats — 15 reps
            Pushups — on knees if modifying — 10 to 15 reps
            Reverse lunge — 15 reps each side
            Bent-over rows — 12 to 15 reps
            Side lunge — 12 to 15 reps
            Plank — hold for 15 to 60 seconds
            Mountain climbers — 15 reps each side
            Assisted pullups or lat pulldowns with resistance band — 10 to 12 reps
            Squat thrusters — 12 to 15 reps
            Stiff-legged deadlift — 12 to 15 reps
            Rest 60 seconds, then repeat the circuit two to three times.
        </p>
        <h>DAY 2</h>
        <p>You can do either running, cycling, swimming or rowing for 1 hour.
            Try to give yourself breaks in between every 2-3 or so.
        </p>
        <h>DAY 3</h>
        <p>You can do either running, cycling, swimming or rowing for 1 hour.
            Try to give yourself breaks in between every 2-3 or so.
        </p>
        <h>DAY 4</h>
        <p>Wide-stance squats — 15 reps
            Pushups — on knees if modifying — 10 to 15 reps
            Reverse lunge — 15 reps each side
            Bent-over rows — 12 to 15 reps
            Side lunge — 12 to 15 reps
            Plank — hold for 15 to 60 seconds
            Mountain climbers — 15 reps each side
            Assisted pullups or lat pulldowns with resistance band — 10 to 12 reps
            Squat thrusters — 12 to 15 reps
            Stiff-legged deadlift — 12 to 15 reps
            Rest 60 seconds, then repeat the circuit two to three times.
        </p>
    {% elif number == 2 %}
        <p>You are doing workouts at home and buildmuscle</p>
        <h>DAY 1 (Chest)</h>
        <p>Push-up: 3–6 sets of 6–12 reps
            Burpee: 6 per minute for 15 minutes 
            Pull-up: 3 sets of 2–5 reps
        </p>
        <h>DAY 2 (Arms)</h>
        <p>Plank-up: 3 sets of 5–10 reps
            Triceps dip: 2 sets of 10–12 reps
            Inchworm: 3 sets of 4–6 reps
        </p>
        <h>DAY 3(Legs)</h>
        <p>Step-up: 3 sets of 15 reps (each side)
            Lunge: 3 sets of 15 reps (each side)
            Squat: 3–5 sets of 8–12 reps
        </p>
        <h>DAY 1 (Chest and Arms)</h>
        <p>Push-up: 3–6 sets of 6–12 reps
            Burpee: 6 per minute for 15 minutes 
            Pull-up: 3 sets of 2–5 reps
            Plank-up: 3 sets of 5–10 reps
            Triceps dip: 2 sets of 10–12 reps
            Inchworm: 3 sets of 4–6 reps
        </p>
        <h>DAY 2(Legs)</h>
        <p>Step-up: 3 sets of 15 reps (each side)
            Lunge: 3 sets of 15 reps (each side)
            Squat: 3–5 sets of 8–12 reps
        </p>
        <h>DAY 3(Cardio)</h>
        <p>You can do either running, cycling, swimming or rowing for 1 hour.
            Try to give yourself breaks in between every 2-3 or so.
        </p>
        <h>DAY 4 (Arms and Chest)</h>
        <p>Push-up: 3–6 sets of 6–12 reps
            Burpee: 6 per minute for 15 minutes 
            Pull-up: 3 sets of 2–5 reps
            Plank-up: 3 sets of 5–10 reps
            Triceps dip: 2 sets of 10–12 reps
            Inchworm: 3 sets of 4–6 reps
        </p>
        <h>DAY 5(Legs)</h>
        <p>Step-up: 3 sets of 15 reps (each side)
            Lunge: 3 sets of 15 reps (each side)
            Squat: 3–5 sets of 8–12 reps
        </p>

    {% elif number == 3 %}
        <p>You are doing workouts at home and resistance</p>
        <h>DAY 1 (Chest and Abs)</h>
        <p>4 Sets, 10 Reps of Banded pushups
            4 Sets, 10 Reps of Standing Resistance Band Chest Press – Anchor
            4 Sets, 10 Reps of Standing Resistance band Chest Fly – Anchor
            5 Sets, 20 Reps of Banded Leg Raises
            5 Sets, 20 Rep of Lying Bicycles – No equipment</p>
        <h>DAY 2 (Biceps and Triceps)</h>
        <p>4 Sets, 10 reps of Standing Resistance Band Curls
            4 Sets, 10 Reps of Seated Resistance Band Preacher Curls – Anchor
            4 Sets, 10 Reps of Standing Resistance Band One Arm Curls – Anchored Low
            4 Sets, 15 Reps of Standing Resistance Band Tricep Kickdowns - Anchor High
            4 Sets, 15 Reps of Standing Resistance Band Tricep Hammer Kickdowns - Anchor High
        </p>
        <h>DAY 3 (Legs and Abs)</h>
        <p>4 Sets, 10 Reps of Banded Squats
            4 Sets, 10 Reps of Lying Banded Leg Lifts – alternate legs
            4 Sets, 10 Reps of Kneeling Banded Donkey Kicks – alternate legs
            8 Sets, 20 Reps of Seated Russian Twists – No Equipment
        </p>
        <h>DAY 4 (Shoulders)</h>
        <p>4 Sets, 10 Reps of Standing Resistance Band Presses
            4 Sets, 10 Reps of Standing Resistance Band Twists – Low Anchor, Alternate Arms
            4 Sets, 10 Reps of Standing Shoulder Presses – No Equipment
        </p>
        <h>DAY 5 (Back and Abs)</h>
        <p>4 Sets, 10 Reps of Seated Resistance Rows – Overhand – Anchor
            4 Sets, 10 Reps of Seated Resistance Rows – Underhand – Anchor
            4 Sets, 10 Reps of Seated Resistance Rows – Close Hands – Anchor
            5 Sets, 20 Reps of Banded Leg Raises
            5 Sets, 20 Rep of Lying Bicycles – No equipment
        </p>
    {% elif number == 4 %}
        <p>You are doing workouts at the gym and weightloss</p>
        <h>DAY 1 </h>
        <p>Squat + Curl / 8-12 Reps 
            Push Ups / 15 Reps 
            DB Row + Fly / 8-12 Reps 
            (Repeat this cicuit 3 times)
        </p>
        <h>DAY 2</h>
        <p>Bench Step-ups / 12 each side
            Lunge + Front Raise / 12 each side
            Renegade Rows / 12 each side
            (Repeat this circuit 3 times)
        </p>
        <h>DAY 3</h>
        <p>Run on the treadmill 30 minutes (1 minute running, 30 seconds walking)</p>
        <h>DAY 4</h>
        <p>Incline DB Press / 8-12 reps
            Bench Dips / 15 reps
            Plank Shoulder / 12 each side
            (Repeat this circuit 3 times)
        </p>
        <h>DAY 5</h>
        <p>Run on the treadmill 30 minutes (1 minute running, 30 seconds walking)</p>
    {% elif number == 5 %}
        <p>You are doing workouts at the gym and buildmuscle</p>
        <h>DAY 1 (Chest and Triceps)</h>
        <p>Flat Bench Press: 4 Sets (8–10 reps)  
            Incline Dumbbell Press: 4 Sets (8–10 reps)  
            Triceps Pushdown – V-Bar Attachment: 3 Sets (9–12 reps)
            Decline Dumbbell Flyes: 3 sets(8–12 reps)
            Skull Crushers: 3 Sets (9–12 reps)
            Decline Bench Press: 3 Sets (8–10 reps each)
        </p>
        <h>DAY 2 (Back and Biceps)</h>
        <p>Seated Cable Rows: 2 sets (8–10 reps)
            Front Lat Pulldown: 2 sets (8–10 reps)
            Bent Over Barbell Rows: 2 sets (8–10 reps)
            Hammer Curls: 3 sets ( 8–12 reps)
            Deadlift: 2 sets (8–10 reps)
            Barbell Curl (EZ-bar): 3 sets (8–10 reps)
            Straight-Arm Pulldown: 2 sets (8–10 reps)
            Concentration Curls: 3 sets (8–12 reps)  
        </p>
        <h>DAY 3 (Core, Forearms, Calves and Cardio)</h>
        <p>Crunches: 3 sets of 10–12 reps
            Hanging Leg Raise: 3 sets of 10–12 reps
            Seated Russian Twist: 12–15 reps on each side
            Bicycle Crunches: 15–20 sets of maximum reps
            Planks: 3 sets maximum hold
            Palms-Up Barbell Wrist Curl: maximum reps for 3 sets. Begin with the bar, and add 2.5 or 5 lbs after each set.
            Seated Calf Raise: 3 sets 8–15 reps
            Palm Down Barbell Wrist Curls Over Bench: maximum reps for 3 sets. Begin with the bar, and add 2.5 or 5 lbs after each set.
            Smith Machine Calf Raise: 3 sets 8–15 reps
            25 mins of cardio before or after your workout
        </p>
        <h>DAY 4 (Shoulders and Triceps)</h>
        <p>Seated Dumbbell Press: 4 sets (8–10 reps)
            Military Press: 4 sets (8–10 reps)
            Dips: 4 sets (8–10 reps)
            Side Lateral Raise: 4 sets (8–12 reps)
            Standing Dumbbell Triceps Extension: 4 sets (8–12 reps)
            Front Lateral Raise: 4 sets (8–12 reps)
            Triceps Pushdown — Rope Attachment: 4 sets (8–12 reps)
            Reverse Flyes: 4 sets (8–12 reps)
            Shrugs: 3 sets (8–10 reps)
        </p>
        <h>DAY 5 (Legs and Biceps)</h>
        <p>Squats: 4 sets (6–8 reps)
            Wide-Grip Standing Barbell Curl: 4 sets (8–12 reps)
            Leg Press: 3 sets (8–10 reps)
            Spider Curl: 4 sets (8–10 reps)
            Smith Machine Calf Raise: 4 sets (8–12 reps)
            Lying Leg Curls: 3 sets (8–12 reps)
            Machine Bicep Curl: 3 sets (8–12 reps)
            Leg Extensions: 3 sets (8–12 reps). Skip if you have leg complications. 
        </p>
    {% elif number == 6 %}
        <p>You are doing workouts at the gym and resistance</p>
        <h>DAY 1</h>
        <p>Kettlebell Goblet Squat - 3 Sets 10 Reps
            Back Squat - 5 Sets 5 Reps
            Bulgarian Spilt Squat - 2 Sets 8 Reps on each side
            Snatch-grip Deadlift - 3 Sets 10 Reps
            Kettlebell swing - 3 Sets 10 Reps
        </p>
        <h>DAY 2</h>
        <p>Kettlebell Sumo Deadlift - 3 Sets 10 Reps
            Deadlift - 5 Sets 5 Reps
            Romanian Deadlift - 4 Sets Reps 6-8
            Incline Bench Press - 3 Sets 10 Reps
            Press-up - 3 Sets to failure
        </p>
        <h>DAY 3</h>
        <p>Dumbbell Bench Press - 3 Sets 10 Reps
            Bench Press - 5 Sets 5 Reps
            Diamind Press-up - 3 Sets 8-10 Reps
            Front Squat - 3 Sets 10 Reps
            Dumbbell Jump Squat - 3 Sets 5 Reps
        </p>
        <h>DAY 4</h>
        <p>Kettlebell Goblet Squat - 3 Sets 10 Reps
            Back Squat - 5 Sets 5 Reps
            Bulgarian Spilt Squat - 2 Sets 8 Reps on each side
            Snatch-grip Deadlift - 3 Sets 10 Reps
            Kettlebell swing - 3 Sets 10 Reps
        </p>
        <h>DAY 5</h>
        <p>Kettlebell Sumo Deadlift - 3 Sets 10 Reps
            Deadlift - 5 Sets 5 Reps
            Romanian Deadlift - 4 Sets Reps 6-8
            Incline Bench Press - 3 Sets 10 Reps
            Press-up - 3 Sets to failure
        </p>
    {% else %}
        <p>You have not selected a style of workout. Take the quiz before and then come back</p>
    {% endif %}

{% endblock %}