{% extends "homepage.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
  <script>
    
  </script>
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto form-control-lg" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto form-control-lg" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <button  class="btn btn-primary btn-sm outline" type="submit">Log In</button>
        </div>
        <div class="mb-3">
            <button  class="btn btn-primary btn-sm outline" type="submit" name="register" value= "Register">Register</button>
        </div>
        {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
      </form>
{% endblock %}

<!-- <html>
  <head>
    <title>login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html> -->