{% extends "homepage.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
  <script>
    
  </script>
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto form-control-lg" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto form-control-lg" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <button  class="btn btn-primary btn-sm outline" type="submit">Log In</button>
        </div>
        <div class="mb-3">
            <button  class="btn btn-primary btn-sm outline" type="submit" name="register" value= "Register">Register</button>
        </div>
      </form>
      
{% endblock %}
