{% extends "homepage.html" %}

{% block title %}
    Quiz!
{% endblock %}

{% block main %}
    <form action = "/quiz" method = "post">
        <div style='transform: scale(0.65); position: relative; top: -100px;'>
            <h3>What is your fitness goal?</h3>
            <hr />
          
            <div>
                <input type="radio" id="weightloss" name="option" value="1.1">
                <label for="weightloss">Weight loss</label>
            </div>
            <div>
                <input type="radio" id="buildmuscle" name="option" value="1.2">
                <label for="buildmuscle">Build muscle</label>
            </div>
            <div>
                <input type="radio" id="resistance" name="option" value="1.3">
                <label for="resistance">Increase resistance/ athletic performance</label>
            </div>
        </div>

        <div style='transform: scale(0.65); position: relative; top: -100px;'>
            <h3>Where are you more comfortable to work out?</h3>
            <hr />
            <div>
                <input type="radio" id="home" name="option" value="2.1">
                <label for="home">Home</label>
            </div>
            <div>
                <input type="radio" id="gym" name="option" value="2.2">
                <label for="gym">Gym</label>
            </div>
        </div>
    </form>
{% endblock%}