{% extends "homepage.html" %}

{% block title %}
    Quiz!
{% endblock %}

{% block main %}
    <form action = "/quiz" method = "post">
        <div style='transform: scale(0.65); position: relative; top: -100px;'>
            <h3>Where are you more comfortable to work out?</h3>
            <hr />
            <div>
                <label><input type="radio" id="home" name="home" value="1">Home</label>
            </div>
            <div>
                <label><input type="radio" id="gym" name="gym" value="2">Gym</label>
            </div>

        </div>

        <div style='transform: scale(0.65); position: relative; top: -100px;'>
            <h3>What is your fitness goal?</h3>
            <hr />
            <div>
                <label><input type="radio" id="weightloss" name="weightloss" value="3">Weight loss</label>
            </div>
            <div>
                <label><input type="radio" id="buildmuscle" name="buildmuscle" value="4">Build muscle</label>
            </div>
            <div>
                <label><input type="radio" id="resistance" name="resistance" value="5">Increase resistance/ athletic performance</label>
            </div>

        </div>
        <p>
            <input  class="btn btn-primary btn-sm outline" type="submit">
        </p>
        
    </form>
{% endblock %}