{% extends "homepage.html" %}

{% block title %}
    Tutorials
{% endblock %}

{% block main %}

    {% if number == 1 %}
        <div class="backbox">
        <h1 style = "color:#358283">Home Workouts</h1>

        <ul class = "SG">
            <h3 style = "color:#358283">Upperbody</h3>

            <li class = "sgLi">
                <div class = "box">
                <h3>Pushups</h3>
                <ul>
                <iframe src="https://youtu.be/ryncZFQCB8I"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Assited Pullpups/ Lat Pulldowns</h3>
                <ul>
                <iframe src="https://youtu.be/7yqudG7vnow"></iframe>
                <iframe src="https://youtu.be/8oRWrUxU-6I"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Triceps dip</h3>
                <ul>
                <iframe src="https://youtu.be/6kALZikXxLc"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Plank-up</h3>
                <ul>
                <iframe src="https://youtu.be/L4oFJRDAU4Q"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Inchworm</h3>
                <ul>
                <iframe src="https://youtu.be/VSp0z7Mp5IU"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Banded Pushups</h3>
                <ul>
                <iframe src="https://youtu.be/kM6smlT6IYA"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Standing Resistance Band Curls</h3>
                <ul>
                <iframe src="https://youtu.be/Da57AuIofvU"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Seated Resistance Band Preacher Curls – Anchor</h3>
                <ul>
                <iframe src="https://youtu.be/M9hA9M2KUCY"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Standing Resistance Band One Arm Curls – Anchored Low</h3>
                <ul>
                <iframe src="https://youtu.be/p-kjejOZDnE"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Standing Resistance Band Tricep Kickdowns - Anchor High</h3>
                <ul>
                <iframe src="https://youtu.be/cDvcO3ZJgfk"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Standing Resistance Band Tricep Hammer Kickdowns - Anchor High</h3>
                <ul>
                <iframe src="https://youtu.be/x9QWH_1AbP8"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Bent-over rows</h3>
                <ul>
                <iframe src="https://youtu.be/x9QWH_1AbP8"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Sanding Resistance Band Presses</h3>
                <ul>
                <iframe src="https://youtu.be/x9QWH_1AbP8"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Standing Resistance Band Twists</h3>
                <ul>
                <iframe src="https://youtu.be/x9QWH_1AbP8"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Standing Shoulder Presses</h3>
                <ul>
                <iframe src="https://youtu.be/x9QWH_1AbP8"></iframe>
                </ul>
                </div>
            </li>

            <h3 style = "color:#358283">Lowerbody</h3>

            <li class = "sgLi">
                <div class = "box">
                <h3>Wide-Stance Squats</h3>
                <ul>
                <iframe src="https://youtu.be/x9QWH_1AbP8"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Reverse Lunge</h3>
                <ul>
                <iframe src="https://youtu.be/x9QWH_1AbP8"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Side Lunges</h3>
                <ul>
                <iframe src="https://youtu.be/x9QWH_1AbP8"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Mountain Climbers</h3>
                <ul>
                <iframe src="https://youtu.be/x9QWH_1AbP8"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Squat Thrusters</h3>
                <ul>
                <iframe src="https://youtu.be/x9QWH_1AbP8"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Siff-legged deadlift</h3>
                <ul>
                <iframe src="https://youtu.be/x9QWH_1AbP8"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Step-ups</h3>
                <ul>
                <iframe src="https://youtu.be/x9QWH_1AbP8"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Burpees</h3>
                <ul>
                <iframe src="https://youtu.be/x9QWH_1AbP8"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Banded Squats</h3>
                <ul>
                <iframe src="https://youtu.be/x9QWH_1AbP8"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Lying Banded Leg Lifts</h3>
                <ul>
                <iframe src="https://youtu.be/x9QWH_1AbP8"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Kneeling Banded Donkey Kicks</h3>
                <ul>
                <iframe src="https://youtu.be/x9QWH_1AbP8"></iframe>
                </ul>
                </div>
            </li>

            <li class = "sgLi">
                <div class = "box">
                <h3>Seated Russian Twists</h3>
                <ul>
                <iframe src="https://youtu.be/x9QWH_1AbP8"></iframe>
                </ul>
                </div>
            </li>
        </ul>
        </div>
    {% else number == 2 %}

    
    {% endif %}
{% endblock %}